<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.my.examples.lecture4"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ABActivity" android:label="ActionBar Activity"/>
        <activity android:name=".SettingsActivity" android:label="Settings Activity"/>

        <activity android:name=".NoActionBar" android:theme="@style/NoActionBar" android:label="@string/no_action_bar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ServiceActivity" android:label="@string/service_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WebViewActivity" android:label="@string/webview_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".TestService"/>

        <service android:name=".CommandService">
            <intent-filter>
                <action android:name="COMMAND_SERVICE_ACTION"/>
            </intent-filter>
        </service>

        <activity
            android:name=".UIActivity"
            android:label="UI Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShowTextActivity"/>

    </application>

</manifest>
